/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* regular 400
bold 700 */

p, a {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

 .bold-text {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, .hospital-name {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

.top-banner {
    background-color: white;

    justify-content: space-evenly;
    padding-top: 20px;
}

.emphasis-text {
    color: #139eec;
}

.hospital-logo {
    max-width: 60px;
    margin: 0 auto;
}

.second-banner {
    background-color: #1F2B6C !important;
    margin: 0px;
    padding: 0px;
}

a, .nav-link, .navbar-brand , .navbar-toggler{
        color: white !important;
        text-decoration: none !important;
}

input {
    max-width: 200px;
    max-height: 80px;

}

.textbox {
        border-radius: 50px !important;
        background-color: #BFD2F8 !important;
        text-align: center;
}

.fa-magnifying-glass {
    font-size: 30px;
    color: white;
}

.hero {
    text-align: center;
}

.btn-book-appointment, footer {
    background-color: #1F2B6C !important;
    color: white !important;
}

.card-img-top {
    height: 300px;
}

.col-sm-4 {
    padding: 5px;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.our-doctors {
    padding-bottom: 100px;
}